{
  "presets": [["@babel/env", { "modules": false }]],
  "plugins": [
    "@babel/transform-flow-strip-types",
    "@babel/proposal-object-rest-spread",
    "@babel/proposal-class-properties",
    [
      "@babel/plugin-transform-runtime",
      { "helpers": true, "useESModules": true }
    ],
    "module:babel-preset-fbjs/plugins/dev-expression.js"
  ],
  "env": {
    "commonjs": {
      "presets": ["@babel/env"],
      "plugins": [
        "@babel/transform-flow-strip-types",
        "@babel/proposal-object-rest-spread",
        "@babel/proposal-class-properties",
        [
          "@babel/plugin-transform-runtime",
          { "helpers": true, "useESModules": false }
        ],
        "module:babel-preset-fbjs/plugins/dev-expression.js"
      ]
    }
  }
}
